@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

@tailwind utilities;

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    border-color: var(--color-gray-200, currentcolor);
  }

  body {
    font-family: "Outfit", sans-serif;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color-scheme: light dark;
  }
}
button {
  cursor: pointer;
}
.custom-asterisk-list {
  list-style-type: none;
  padding-left: 0;
}
.custom-asterisk-list li::before {
  content: "* ";
  color: #ef4444; /* Tailwind red-500 */
  font-weight: bold;
  margin-right: 0.3em;
}
